$palette: (
    primary: (
        light: #7088ff,
        main: #4d6bff,
        dark: #354ab2,
        constrastText: #ffffff,
    ),
    secondary: (
        light: #33ffff,
        main: #00ffff,
        dark: #00b2b2,
        contrastText: rgba(0, 0, 0, 0.87),        
    ),
    brand1: (
        light: #7088ff,
        main: #4d6bff,
        dark: #354ab2,
        constrastText: #ffffff,
    ),
    brand2: (
        light: #5d6bf1,
        main: #3546ee,
        dark: #2531a6,
        contrastText: #ffffff,
    ),
    brand3: (
        light: #5b64db,
        main: #323ed2,
        dark: #232b93,
        contrastText: #ffffff,
    ),
    brand4: (
        light: #33ffff,
        main: #00ffff,
        dark: #00b2b2,
        contrastText: #323ed2,
    ),
);

$body-color: rgba(0, 0, 0, 0.87);

.bg-primary-light {
    background-color: map-get($palette, primary, light);
    color: map-get($palette, primary, contrastText);
}

.bg-primary-main {
    background-color: map-get($palette, primary, main);
    color: map-get($palette, primary, contrastText);
}

.bg-primary-dark {
    background-color: map-get($palette, primary, dark);
    color: map-get($palette, primary, contrastText);
}

.bg-secondary-light {
    background-color: map-get($palette, secondary, light);
    color: map-get($palette, secondary, contrastText);
}

.bg-secondary-main {
    background-color: map-get($palette, secondary, main);
    color: map-get($palette, secondary, contrastText);
}

.bg-secondary-dark {
    background-color: map-get($palette, secondary, dark);
    color: map-get($palette, secondary, contrastText);
}

.bg-brand1-light {
    background-color: map-get($palette, brand1, light);
    color: map-get($palette, brand1, contrastText);
}

.bg-brand1-main {
    background-color: map-get($palette, brand1, main);
    color: map-get($palette, brand1, contrastText);
}

.bg-brand1-dark {
    background-color: map-get($palette, brand1, dark);
    color: map-get($palette, brand1, contrastText);
}

.bg-brand2-light {
    background-color: map-get($palette, brand2, light);
    color: map-get($palette, brand2, contrastText);
}

.bg-brand2-main {
    background-color: map-get($palette, brand2, main);
    color: map-get($palette, brand2, contrastText);
}

.bg-brand2-dark {
    background-color: map-get($palette, brand2, dark);
    color: map-get($palette, brand2, contrastText);
}

.bg-brand3-light {
    background-color: map-get($palette, brand3, light);
    color: map-get($palette, brand3, contrastText);
}

.bg-brand3-main {
    background-color: map-get($palette, brand3, main);
    color: map-get($palette, brand3, contrastText);
}

.bg-brand3-dark {
    background-color: map-get($palette, brand3, dark);
    color: map-get($palette, brand3, contrastText);
}

.bg-brand4-light {
    background-color: map-get($palette, brand4, light);
    color: map-get($palette, brand4, contrastText);
}

.bg-brand4-main {
    background-color: map-get($palette, brand4, main);
    color: map-get($palette, brand4, contrastText);
}

.bg-brand4-dark {
    background-color: map-get($palette, brand4, dark);
    color: map-get($palette, brand4, contrastText);
}
