$gt-ultra-median: './GT-Ultra-Median-Light.woff2';
$gt-ultra-standard: './GT-Ultra-Standard-Light.woff2';

@font-face {
        font-family: 'GT Ultra Standard Light';
        font-style: normal;
        font-weight: 300;
        src: local('GT Ultra Standard Light'), local('GTUltraStandard-Light'),
            url($gt-ultra-standard) format('woff2');
        font-display: swap;
}

@font-face {
        font-family: 'GT Ultra Median Light';
        font-style: normal;
        font-weight: 300;
        src: local('GT Ultra Median Light'), local('GTUltraMedian-Light'),
            url($gt-ultra-median) format('woff2');
        font-display: swap;
}

$system-font: ('Roboto', sans-serif);
$brand-title-font: ('GT Ultra Median Light', sans-serif);
$brand-copy-font: ('GT Ultra Standard Light', sans-serif);

.brand-title {
    font-family: $brand-title-font;
    font-size: 1.625rem;
    font-weight: 700;
    line-height: 1.375;
}
