$xs: 0px;
$sm: 544px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

.min-w-xs {
    min-width: $xs;
}

.max-w-xs {
    max-width: $xs;
}

.min-w-sm {
    min-width: $sm;
}

.max-w-sm {
    max-width: $sm;
}

.min-w-md {
    min-width: $md;
}

.max-w-md {
    max-width: $md;
}

.min-w-lg {
    min-width: $lg;
}

.max-w-lg {
    max-width: $lg;
}

.min-w-xl {
    min-width: $xl;
}

.max-w-xl {
    max-width: $xl;
}
